


body
{
    background-color: rgb(195, 251, 148);
}


#canvas
{
    border: dotted 1px green;
    
}

.container div
{
 
 

}

.container 
{
    width: 100%;
    padding-left: 1em;
    
}

header
{
    padding: 0em 40%;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 3px 3px #00ff00;
    font-size: large;
}